.bg-light {
  background-color: #f7f7f7!important;
}

.card{
  width: 14rem!important;
  margin-top: 15px;
  margin-right: 50px;
  float: left;
}

.card-title{
  height: 30px;
  overflow: hidden;
}

.card-text{
  height: 100px;
  overflow: hidden;
}